/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2018, 2:02:08 PM
    Author     : ryanb
*/

.root {
    -fx-background-color: linear-gradient(to bottom right, black, white, blue);
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14pt;
}

.button {
    -fx-background-color: radial-gradient(dimgrey, maroon, midnightblue);
    -fx-font-family: TimesNewRoman 16pt;
}

