.root {
    -fx-background-color: WhiteSmoke;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14pt;
}

.button {
    -fx-background-color: radial-gradient(radius 180%, black, dimgrey, midnightblue);
    -fx-font-family: TimesNewRoman 16pt;
    -fx-text-fill: ghostwhite;
    -fx-border-color: midnightblue;
    transition-duration: 0.4s;
}

.button:hover {
    -fx-background-color: LightGray;
    -fx-text-fill: black;
}